
body {
    margin:0;
    padding:0;
   
    }
    
.section-1{

    display: flex;
    margin-bottom: 15px;

}
#font{
    font-family: 'Raleway', sans-serif;
    font-size: 45px; 
    color: gray;

}
#color{
    color: orangered;
}
.Part-1{

  width: 50%; 
  padding: 35px;
  margin: 30px;
  


}
#fontp{
    font-size: 18px;
}
.button-1{
    font-size: 16px;
   
    padding: 10px;
    border: 1px solid orangered;
   
    border-radius: 20px;
    background: linear-gradient(orange,orangered);
}
.heightf{
    height: 80%;
}
.Part-2{

    width: 50%;

}
.section-2{
 display: flex;
 background-image:url(shapes/7.png);
 background-repeat: no-repeat;
 
 background-size: 100%;
 
 width: 100%;
  height: auto;
 
 
 
}
.font3{
    font-size: 35px;
}
.button-2{
    font-size: 16px;
   
    padding: 10px;
    border: 1px solid orangered;
   border-radius: 20px;
    background: linear-gradient(orange,orangered);
}
.Part-3{
    width: 50%;
    padding-left: 250px; 
}
.height{
   height: 25%;
}
.Part-4{
    width: 50%; 
    padding-right: 110px; 
    padding-top: 25px;
    padding-right: 180px;
}

.align{
    text-align: center;
    color: gray;
    font-size: 35px;
}
.alignh{
    color: black;text-align: center;
}
.section-4{
    display: flex;
    margin-bottom: 15px;
}
.Part-5{
   width: 25%; 
   height: 40%;
   margin: 20px;
   padding: 20px;
   border: 3px solid orange;
   border-radius: 20px;
   margin-left: 40px;
}
.pic{
    height: 200px;
    border-radius: 15px;
    border: 3px solid white;
    padding: 20px;
}
.h1{
    font-family: 'Raleway', sans-serif;
}
.hi{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;  
}
.div{
    display: flex;
    margin: 20px;
    padding: 40px;
    border:3px solid gold;
    border-radius: 25px;
}